@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Відновлення паролю";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>Введіть ваш email, і ми надішлемо посилання для відновлення паролю.</p>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Надіслати посилання</button>
</form>

<partial name="_ValidationScriptsPartial" />
