@page
@model WebApplication1.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Увійти";
}

<h2>Увійти</h2>

<form method="post" class="border p-4 shadow-sm rounded bg-light mt-4">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="ReturnUrl" />

    @if (Model.ErrorMessage != null && Model.ErrorMessage != "")
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }

    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" type="password" autocomplete="off" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="Input.RememberMe" class="form-check-input" />
        <label asp-for="Input.RememberMe" class="form-check-label"></label>
    </div>

    <div class="d-flex align-items-center mb-3">
        <button type="submit" class="btn btn-dark me-2">Увійти</button>
        <a asp-page="./Register" class="btn btn-outline-light">Створити акаунт</a>
    </div>

    <div class="text-end">
        <a asp-page="./ForgotPassword" class="text-decoration-none text-muted">
            Забули пароль?
        </a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
