@page
@model WebApplication1.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Скидання паролю";
}
<h2>Скидання паролю</h2>
<form method="post" class="border p-4 shadow-sm rounded bg-light mt-4">
    <input type="hidden" asp-for="Input.Token" />
    <input type="hidden" asp-for="Input.Email" />

    <div class="mb-3">
        <label asp-for="Input.NewPassword" class="form-label"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Скинути пароль</button>
</form>
<partial name="_ValidationScriptsPartial" />
