@model WebApplication1.Models.ResetPasswordViewModel

<h2>Скидання паролю</h2>

<form asp-action="ResetPassword" method="post" class="border p-4 shadow-sm rounded bg-light mt-4">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Скинути пароль</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
