@model WebApplication1.Models.WishItem

@{
    ViewData["Title"] = "Нове бажання";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title">Введіть своє бажання</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TargetAmount">Потрібна сума (у гривнях)</label>
        <input asp-for="TargetAmount" class="form-control" />
        <span asp-validation-for="TargetAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TargetDate"></label>
        <input asp-for="TargetDate" type="date" class="form-control" />
        <span asp-validation-for="TargetDate" class="text-danger"></span>
    </div>


    <div class="form-check mb-3">
        <input asp-for="IsCompleted" class="form-check-input" />
        <label asp-for="IsCompleted" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
